*.DS_Store
*.Rhistory

old/*
*.pdf
*.txt
*.js
*.gif
*.svg
*.css
*.jpg
data/raw/psychology/apa_articles/*
data/raw/psychology/apa_articles_with_personalisation_results.zip
*.zip
data/raw/psychology/data_fulltexts.rds