*.DS_Store
*.Rhistory

old/*
*.txt
*.js
*.gif
*.svg
*.css
*.jpg
data/apa_articles/*
data/apa_articles_with_personalisation_results.zip
*.zip
data/raw/data_fulltexts.rds
data/raw/data_fulltexts_lowercase.rds
